.pictures__item-photo {
    width: 282px;
    height: 282px;
    cursor: pointer;
    border-style: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
}